@charset "UTF-8";

body {
    background-color: black;
    color: white;
}

nav {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

img#eu {
    display: block;
    margin: auto;
}

.meio {
    text-align: center;
}

